/** GENERAL **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .container{
    width: 1175px;
    margin: 0 auto;
  }
  .my__container{
    width: 90%;
    margin: 0 auto;
  }
  .container-fluid{
    width: 95%;
    margin: 0 auto;
  }
  .fw__400{
    font-weight: 400;
  }
  
  /*! PAGE BODY **/
  .page__body{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
  }
  .page__body h1{
    font-size: 2rem;
    font-weight: 400;
  }
  .search__form{
    padding: 20px 0;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .search__form input[type="text"]{
    padding: 10px;
    width: 80%;
    font-size: 25px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .search__form input[type="submit"]{
    padding: 5px;
    width: 15%;
    border: 1px solid #003BB3;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 600;
    background-color: #003BB3;
    transition: all .3s;
    margin-left: -3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .search__form input[type="submit"]:hover{
    color: #ff9800;
    background-color: #fafafa;
    border: 2px solid #003BB3;
    cursor: pointer;
  }
  /* todo | FULL SEARCH | */
  .main__content{
    width: 100%;
  }
  .main__content .container{
    display: flex;
    background-color: rgba(243, 244, 246,1);
  }
  .full__search{
    width: 20%;
  }
  .inner__filter{
    width: 85%;
    margin: 0 auto;
  }
  .filter__title h3{
    font-weight: 400;
    border-bottom: 1px solid #D3D3D3;
    margin: 10px 0;
  }
  .category__list{
    list-style: none;
  }
  .category__list li a{
    text-decoration: none;
    color: #333;
    transition: all .2s;
  }
  .category__list li a:hover{
    text-decoration: underline;
    color: #094ace;
  }
  .file__list__item{
    display: flex;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 0;
    min-width: 200px;
    max-width: 830px;
  }
  .img__content{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #ddd;
    margin-right: 20px;
  }
  .img__content img{
    object-fit: cover;
    width: 80px;
  }
  .text__content{
    padding: 15px 0;
  }
  .text__content .fa-calendar{
    margin-right: 10px;
  }
  .file__title{
    text-decoration: none;
    color: #333;
    transition: all .2s;
  }
  .file__title:hover{
    text-decoration: underline;
    color: #094ace;
  }
  .file__date{
    margin: 10px 0;
  }
  .scrolable__categories{
    display: none;
  }
  .files{
    width: 70%;
  }
.d-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

h1.search-result-page-title {
  margin: 36px 0;
}

.slick-slider .slick-track {
  margin-left: unset!important;
}

#category-breadcrumbs {
  margin: 20px 0;
  font-size: 15px;
}
.demographic-passport-title{
    width: 100% !important;
    text-align: center;
    margin: 30px 0;
}
.demographic-passport-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dataTables_filter {display: none !important;}
.dataTables_length {display: none !important;}

.unfpa-logo {
  max-height: 60px;
}

.unfpa-logo img {
  max-height: 100%;
}

.unfpa-wrap {
  width: 65%;
}
.tabs-content>* {
  display: none;
}

.tabs-content>*.admiral-active {
  display: block;
}
.tabs-content .row__video {
  flex-wrap: wrap;
}


.rating__content{font-weight: 900;}

.country-summary__content td:first-child {
    color: #673ab7;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.country-summary__content td {
border: 2px solid #e6e6e6;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.country-summary__content strong[data-colour=green] {
    color: #e91e63;
}

.country-stats__detailed .country-stats__table .country-stats__table-heading {
    margin-bottom: 16px;
    font-size: 24px;
}

.country-summary__content strong {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #e91e63;
    text-align: center;
}


.stat--donut .stat__title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.country-content__main .country_item {
    display: none;
    text-align: justify;
}

.fnt0 {
  font-size: 24rem;
}

.header--bottom {
    background-color: #363a44d9;
    backdrop-filter: blur(5px);
}

.big-counter .counter-title {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin: 0;
    color:#384267;
}

.big-counter .counter {
    color: #f9553e;
    font-weight: 600;
    font-size: 4.5em;
    margin-bottom: -15px;
    font-family: FuturaPT;
}

.button.is-white.is-outlined {
    background-color: #384267;
    border-color: #fff;
    color: #fff;
}

.button.is-white.is-outlined.active {
  background-color: #f9553e;
}
/* library */
.container.library-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section__content-library {
  background: #cfd8dc;
}
.d_library_page {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.explore-style-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-style-one .thumb a {
  min-height: 285px;
  display: block;
}
.d_library_page .explore-style-one .thumb img,
.d_library .explore-style-one .thumb img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

h1.search-result-page-title {
  color: #333;
  text-align: center;
}

.explore-style-one.media-resourses img.play_icon {
  height: 87px;
  width: auto;
  object-fit: unset;
}

/* parnters block on page */
.partners-block-wrap .card__item.one .card_head {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-block-wrap .card__item .card_head img {
    width: 100%!important;
    object-fit: contain;
}

.partners-wrap .section_heading {
    text-align: center;
}

.partners-block-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}
.partners-block-wrap .card__item.is__hero {
  width: calc(33% - 10px);
  margin: unset;
}
/* #mission */

.o-article__body--nav {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  flex-flow: row wrap;
}

.o-article__body-nav.f-secondary{
    line-height: 25px;
    font-weight: 400;
    color: #757575;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    z-index: 1020;
    padding-top: 90px;
    margin-top: 10px;
}
.bg-light {
  flex-grow: 1;
  display: block;
}
.rower{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.o-article__body-nav.f-secondary a {
  color: #757575;
  display: block;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.o-article__body-nav.f-secondary a span {
  overflow: hidden;
  padding: 17px 0 18px 0;
  display: block;
  margin-right: 16px;
  font-weight: 700;
}
.o-article__body-nav.f-secondary a::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 2px;
  right: 0;
  background: #ff9326;
  opacity: 0;
  transition: opacity 0.1s ease;
}
.o-article__body-nav.f-secondary a.s-active {
  color: #2e2e2e;
}
.o-article__body-nav.f-secondary a.s-active::after {
  opacity: 1;
}
.o-article__body--nav::after {
  content: '';
  position: absolute;
  z-index: 0;
  left: calc(((((100vw - 424px) / 12) * 3) + 60px) + -1px);
  width: 1px;
  pointer-events: none;
  bottom: 0;
  background: #f0f0f0;
  z-index: -1;
  top: 0;
}
.o-article__body-content ul{
  margin-top: 30px;
  font-size: 19px;
    line-height: 30px;
    font-variant-numeric: oldstyle-nums;
    list-style: none;
}
.o-article__body-content ul:before{
  content: '';
    display: block;
}
.o-article__body-content .o-block-item li{
  position: relative;
  padding-left: 1.5em;
}
.o-article__body-content .o-block-item li:before{
  font-size: 1.5em;
  content: "\2022";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
}
.o-article__body-content .o-block-item p{
  font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
}
.o-article__body-content .o-block-item h2{
  font-size: 30px;
    line-height: 35px;
    letter-spacing: -.005em;
}
.o-article__body-content  h2:first-child{
  padding-top: 0;
  margin-top: 0;
  border: none;
}
.o-article__body-content .o-block-item{
  padding-top: 90px;
  margin-top: 10px;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 80px;
}
.o-article__body-content .o-block-item:first-child{
  border: none;
}
.m-section-header{
  margin-top: 0;
  padding-bottom: 60px;
  position: relative;
  padding-top: 0.02px;
  display: flex;
  flex-flow: column nowrap;
}
.m-section-header__title {
  display: block;
  max-width: 870px;
  font-size: 72px;
  line-height: 75px;
  flex: 0 0 auto;
  order: 2;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 70px;
  color: #222;
}
.m-section-header::after {
  width: 50px;
  margin-top: 48px;
  content: '';
    display: block;
    flex: 0 0 auto;
    order: 3;
    height: 2px;
    background-color: #ff9326;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.white-bg{
  background: #fff;
}
.o-editor {
  margin-top: 110px;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 100px;
}
.o-editor__id {
  width: 300px;
}
.o-editor__content {
  margin-left: 165px;
  width: 640px;
}
.o-editor__description.f-article {
  text-align: justify;
  padding-top: 0;
  position: relative;
  font-size: 19px;
  line-height: 30px;
}
.o-editor__description p{
  font-size: 19px;
  line-height: 30px;
}
.o-editor__description strong{
  font-weight: 700;
}
.o-editor__img {
  width: 100%;
}
.o-editor_sticky{
  position: sticky;
  top: 90px;
}
.o-editor__img img {
  display: block;
  height: auto;
  width: 100%;
}
.o-editor__name .f-h6 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #222;

}
.jl-card{
  padding: 20px;
  margin-bottom: 3rem;
  width: 33%;
  min-width: 250px;
}
.jl-iconnav {
  margin-top: 20px!important;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.jl-iconnav>* {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.tm-social-icon a{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  transition: background 0.4s ease;
  justify-content: center;
  background: #607d8b3b;
}
.tm-social-icon a:hover{
  background: #607d8b;
    color: #fff;
}
h3.tm-title{
  font-size: 20px;
}
.jl-block{
  padding: 1rem;
    text-align: center;
}

.pagination {
  display: flex!important;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-top: 60px;
}

.page-numbers {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.page-numbers:hover {
  background-color: #f44337;
  color: #fff;
}

.current {
  background-color: #f44337;
  color: #fff;
}

.prev, .next {
  background-color: #fff;
  border: 1px solid #f44337;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.prev:hover, .next:hover {
  background-color: #f44337;
}
.btn--icon {
  height: 24px;
  width: 24px;
  stroke: #f44337;
}
.btn--icon:hover {
  stroke: #fff;
}
.more-container .ti-download {
   display: none!important;
}

form#tutor-registration-from {
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0;
}

/* single infographics category rasmlar */

.infographic-cat-rasmlar .single-header {
  padding: 60px 0;
}

/* mobile app block */
.wrapper.angled {
  position: relative;
  border: 0;
}
.pb-xxl-20 {
  padding-bottom: 10rem!important;
}
.position-lg-absolute {
  position: absolute!important;
}
.mt-xxl-0 {
  margin-top: 0!important;
}
.align-items-xxl-center {
  align-items: center!important;
}
.text-lg-start {
  text-align: left!important;
}
.ps-xxl-5 {
  padding-left: 1.25rem!important;
}
.pe-xxl-10 {
  padding-right: 2.5rem!important;
}
.offset-lg-6 {
  margin-left: 50%;
}
.pt-lg-20 {
  padding-top: 10rem!important;
}
.display-3 {
  line-height: 1.25;
  font-size: 2rem;
  font-weight: 700;
  color: #343f52;
  word-spacing: 0.1rem;
  letter-spacing: -.01rem;
}
.lead {
  line-height: 1.65;
  font-weight: 500;
}
.mb-8 {
  margin-bottom: 2rem;
}
.justify-content-lg-start {
  display: flex;
  justify-content: flex-start;
}
.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: -.01rem;
  color: #60697b;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  transform: translateY(0);
  padding: 0.5rem 1.2rem;
  font-size: .8rem;
  border-radius: 0.4rem;
  transition: all .2s ease-in-out;
}
.btn-green {
  color: #fff;
  background-color: #6bbea3;
  border-color: #6bbea3;
}
.btn-icon-start i {
  margin-right: 0.1rem;
}
.btn-icon i {
  vertical-align: -0.1rem;
}
.btn-green:hover {
  color: #fff;
  background-color: #6bbea3;
  border-color: #6bbea3;
}
.btn:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  color: #fff;
}
.footer__top h5 {
  color: #fff;
  margin: 1.33rem 0px;
}
.footer__top p {
  font-size: 18px;
  line-height: 1.25!important;
  opacity: 0.8;
  color: #fff;
}
.text-content {
  width: 35%;
}