/** GENERAL **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .container{
    width: 1175px;
    margin: 0 auto;
  }
  .my__container{
    width: 90%;
    margin: 0 auto;
  }
  .container-fluid{
    width: 95%;
    margin: 0 auto;
  }
  .fw__400{
    font-weight: 400;
  }
  
  /*! PAGE BODY **/
  .page__body{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
  }
  .page__body h1{
    font-size: 2rem;
    font-weight: 400;
  }
  .search__form{
    padding: 20px 0;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .search__form input[type="text"]{
    padding: 10px;
    width: 80%;
    font-size: 25px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .search__form input[type="submit"]{
    padding: 5px;
    width: 15%;
    border: 1px solid #003BB3;
    border-radius: 5px;
    color: #fafafa;
    font-weight: 600;
    background-color: #003BB3;
    transition: all .3s;
    margin-left: -3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .search__form input[type="submit"]:hover{
    color: #ff9800;
    background-color: #fafafa;
    border: 2px solid #003BB3;
    cursor: pointer;
  }
  /* todo | FULL SEARCH | */
  .main__content{
    width: 100%;
  }
  .main__content .container{
    display: flex;
  }
  .full__search{
    width: 20%;
  }
  .inner__filter{
    width: 85%;
    margin: 0 auto;
  }
  .filter__title h3{
    font-weight: 400;
    border-bottom: 1px solid #D3D3D3;
    margin: 10px 0;
  }
  .category__list{
    list-style: none;
  }
  .category__list li a{
    text-decoration: none;
    color: #333;
    transition: all .2s;
  }
  .category__list li a:hover{
    text-decoration: underline;
    color: #094ace;
  }
  .file__list__item{
    display: flex;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 0;
    min-width: 200px;
    max-width: 830px;
  }
  .img__content{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #ddd;
    margin-right: 20px;
  }
  .img__content img{
    object-fit: cover;
    width: 80px;
  }
  .text__content{
    padding: 15px 0;
  }
  .text__content .fa-calendar{
    margin-right: 10px;
  }
  .file__title{
    text-decoration: none;
    color: #333;
    transition: all .2s;
  }
  .file__title:hover{
    text-decoration: underline;
    color: #094ace;
  }
  .file__date{
    margin: 10px 0;
  }
  .scrolable__categories{
    display: none;
  }
  .files{
    width: 750px;
  }
.d-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.dropdown-menu {
  display: grid!important;
  grid-template-columns: 1fr 1fr!important;
}

.dropdown-menu li.menu-projects.nav__item:first-child {
  padding-left: 46px;
  border-left: 1px solid #eaeaea;
}

h1.search-result-page-title {
  margin: 36px 0;
}

.slick-slider .slick-track {
  transform: translate3d(0, 0, 0)!important;
  margin-left: unset!important;
}

#category-breadcrumbs {
  margin: 20px 0;
  font-size: 15px;
}
      .sec3 {
				background:#E0EFF5;
			}


			.containerr {
				position: relative;
				display: flex;
				justify-content: center;
        flex-wrap: wrap;
			}





			@media(max-width: 768px) {


				.sec3 {
					display: none;
				}


			}





			.containerr .cardd {
				position: relative;
				cursor: pointer;
			}


			.containerr .cardd .face {
				width: 14vw;
				height: 200px;
				transition: 0.5s;


				margin-right: 10px;
			}


			.containerr .cardd .face.face1 {
				position: relative;
				background: #3aacec;
				;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				transform: translateY(100px);


				border-radius: 15px;
			}


			.containerr .cardd:hover .face.face1 {
				background: #0382AB;
				transform: translateY(0);


				border-radius: 15px 15px 0 0;
			}


			.containerr .cardd .face.face1 .contentt {
				transition: 0.5s;
			}


			.containerr .cardd:hover .face.face1 .contentt {
				opacity: 1;
			}


			.containerr .cardd .face.face1 .contentt img {
				max-width: 100px;
			}


			.containerr .cardd .face.face1 .contentt h3 {
				margin: 10px 0 0;
				padding: 0;
				color: #fff;
				text-align: center;
				font-size: 1.5em;
			}


			.containerr .cardd .face.face2 {
				position: relative;
				background: #fff;
				display: block;
				justify-content: center;
				align-items: center;
				padding: 20px;
				box-sizing: border-box;

				transform: translateY(-100px);


				text-align: center;


				border-radius: 0 0 15px 15px;


			}


			.containerr .cardd:hover .face.face2 {
				transform: translateY(0);
			}


			.containerr .cardd .face.face2 .contentt p {
				margin: 0;
				padding: 0;
			}