#burger-menu {
    display: none;
}
@media (max-width: 992px){
    .header_lang_social_icon {
        display: none;
    }
    
    .unfpa-wrap {
        display: none;
    }
    .header--top {
        padding: 17px 0;
    }
    .header--bottom {
        height: 70px;
    }
    .header--bottom .wrapper {
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .scrolable__categories{
        display: block;
    }
    .headline h1 {
        font-size: 22px;
    }
    .full__search {
        display: none;
    }
    .file__list {
        width: 90%;
        margin: 0 auto;
        text-align-last: left;
    }
    /* .img__content img {
        width: 100px;
        text-align-last: left;
    } */
    .file__title h3 {
        font-size: 14px;
    }
    .file__date {
        font-size: 14px;
    }
    .page__body {
        width: 100%;
    }
    .search__form input {
        font-size: 15px;
        padding: 5px;
        width: 75%;
    }
    .search__form button {
        width: 23%;
    }
    .scrolable_category__list {
        overflow-x: scroll;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        list-style: none;
    }
    .scrolable_category__list li {
        margin: 0 20px;
        text-align: center;
    }
    .scrolable_category__list::-webkit-scrollbar {
        display: none;
    }
    .scrolable_category__list li a {
        text-decoration: none;
        color: #333;
    }
}
@media (max-width: 520px) {
    .row {
        display: block!important;
    }
    #burger-menu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        overflow: visible;
        position: relative;
        z-index:2;
        margin-left: 30px;
        margin-top: 18px;
        
      }

      #burger-menu span,
      #burger-menu span:before,
      #burger-menu span:after {
        background: #fff;
        display: block;
        height: 4px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
      }
      #burger-menu span:before,
      #burger-menu span:after {
        content: "";
      }
      #burger-menu span {
        right: 0px;
        top: 13px;
        width: 27px;
      }
      #burger-menu span:before {
        left: 0px;
        top: -10px;
        width: 16px;
      }
      #burger-menu span:after {
        left: 0px;
        top: 10px;
        width: 20px;
      }
      
      #burger-menu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
      }
      #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
      }
      #burger-menu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
      }
      
      .explore-style-one.media-resourses {
        margin-bottom: 20px;
    }

    .header--top {
        position: static;
        background-color: rgb(54, 58, 68);
        backdrop-filter: blur(5px);
        padding: 15px 0px;
    }
    .header--bottom {
        background-color: #363a44d9;
        backdrop-filter: blur(5px);
    }
    #burger-menu {
        display: block;
    }
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-29ede11.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default {
        display: none;
    }
    nav.nav-main {
        display: none;
    }
    .stm-header__cell.stm-header__cell_right {
        display: none;
    }


    .float-right .cta {
        margin-bottom: 21px;
    }
    .stm-header__cell.stm-header__cell_right.col-md-5.col-sm-5.col-xs-6 {
        padding: 0;
    }
}

